@{
    ViewBag.Title = "About us";
}
<h2 class="noMargin">@ViewBag.Title.</h2>

<h3> Fimm hressir krakkar í Tölvunarfræðideildinni </h3>
<ul>
    <li><strong>Arnheiður Aldís Sigurðardóttir</strong></li> 
    <li><strong>Berglind Lilja Björnsdóttir</strong></li>
    <li><strong>Elísa Rún Hermundardóttir</strong></li>
    <li><strong>Ragnar Mikael Halldórsson</strong></li>
    <li><strong>Þorgerður Edda Eiríksdóttir</strong></li>
</ul>
