@model List<UNIverse.Models.Post>
<!--TODO: Mögulega búa til FrontPageViewModel-->
@{ViewBag.Title = "Home Page";}

<h1>Welcome to UNIverse</h1>


@*
    @Html.ActionLink("New Post", "New", "Post")
*@

@{Html.RenderPartial("_NewPostPartial", new UNIverse.Models.ViewModels.PostViewModel());}

@{Html.RenderPartial("_NewsfeedPartial", Model);}