@using Microsoft.AspNet.Identity

@model UNIverse.Models.ViewModels.PostViewModel
<!--TODO: Mögulega búa til FrontPageViewModel-->
@{ViewBag.Title = "Home Page";}

<p>
    <span>See posts from @Html.ActionLink("Friends", "Index", "Home")</span>
    <span>Get posts sorted by Tag (from all members): @Html.ActionLink("Books", "Tag", "Home", new { tag = "Books" }, null) | @Html.ActionLink("Party", "Tag", "Home", new { tag = "Party" }, null)</span>
</p>

@{Html.RenderPartial("_NewPostPartial", new UNIverse.Models.ViewModels.PostViewModel());}

@{Html.RenderPartial("_NewsfeedPartial", Model);}