@using Microsoft.AspNet.Identity

@model UNIverse.Models.ViewModels.PostViewModel
<!--TODO: Mögulega búa til FrontPageViewModel-->
@{ViewBag.Title = "Home Page";}

<h1>Welcome to UNIverse</h1>

<div>
    See posts from @Html.ActionLink("Friends", "Index", "Home") | @Html.ActionLink("Groups", "Groups", "Home")<br />
    Get posts sorted by Tag (from all members): @Html.ActionLink("Books", "Tag", "Home", new { tag = "Books" }, null) | @Html.ActionLink("Party", "Tag", "Home", new { tag = "Party" }, null)
</div>

@{Html.RenderPartial("_NewPostPartial", new UNIverse.Models.ViewModels.PostViewModel());}

@{Html.RenderPartial("_NewsfeedPartial", Model);}