@using Microsoft.AspNet.Identity

@model UNIverse.Models.ViewModels.PostViewModel
<!--TODO: Mögulega búa til FrontPageViewModel-->
@{ViewBag.Title = "Home Page";}

<h4 class="noMargin">
    @Html.ActionLink("Friends", "Index", "Home", null, new { @class = "btn btn-success btn-large" })
    @Html.ActionLink("Books", "Tag", "Home", new { tag = "Books" }, new { @class = "btn btn-success btn-large" })
    @Html.ActionLink("Party", "Tag", "Home", new { tag = "Party" }, new { @class = "btn btn-success btn-large" })
</h4>

  
@{Html.RenderPartial("_NewPostPartial", new UNIverse.Models.ViewModels.PostViewModel());}

@{Html.RenderPartial("_NewsfeedPartial", Model);}