body
{
font: "Trebuchet MS", Verdana, sans-serif;
background-color: #5c87b2;
color: #696969;
margin: 0 auto;
}

h1
{
border-bottom: 3px solid #cc9900;
font: Georgia, serif;
color: #996600;
}

#main
{
padding-top: 40px;
background-color: #ffffff;
width: 75%;
float: right;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
min-height: 300px;
}

a
{
color: #034af3; 
}

#header
{
background-color: #ff6600;
    height: 75px;
    margin-top: 0;
    width: 100%;
}

#footer
{
    border-top: 2px solid #FF6600;
    bottom:0;
    padding-top: 10px;
    padding-left: 40px;
    overflow:hidden;
    width: 100%;
}
.wrapper{
    min-height:100%;
    margin-bottom:500px;
}

.container
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    padding-left:20px
}

.logo
{
    height: 30px;
    width: 100px;
    float: left;
   // padding-left:20px;
}

/*Sidebar.........*/
#sidebar
{
    width: 25%;
    float: left;
    margin-top: 40px;
    padding-left: 30px;
}


/* Menu Styles ------------------------------*/ 
ul#menu
{
    float: right;
    font-size: 18px;
    color: black;
    padding-top: 20px;
    position: relative;
}

ul#menu li
{
display: inline;
}

ul#menu li a 
{
/*background-color: #e8eef4;*/
padding: 1px 12px;
text-decoration: none;
color: black;
/*line-height: 2.8em;*/
/*CSS3 properties*/
/*border-radius: 4px 4px 0 0;*/
}
ul#menu li a:hover
{
background-color: #ffffff;
border-radius: 4px;
} 
/* Forms Styles ------------------------------*/ 
fieldset
{
padding-left: 12px;
} 
fieldset label
{
display: block;
padding: 4px;
}
input[type="text"], input[type="password"]
{
width: 300px;
}
input[type="submit"]
{
padding: 4px;
}
/* Data Styles ------------------------------*/ 
table.data
{
background-color:#ffffff;
border:1px solid #c3c3c3;
border-collapse:collapse;
width:100%;
}
table.data th
{
background-color:#e8eef4;
border:1px solid #c3c3c3;
padding:3px;
}
table.data td 
{
border:1px solid #c3c3c3;
padding:3px;
}

/* Navigation in sidebar */

/*
ul.nav
{
    margin-top: 7px;
    color: black;
    background-color: #FDD06A;
    width: 100%;
    border-top: 1px solid #FBB007;
}
ul.nav li a 
{
    border-left: 1px solid #FBB007;
    border-right: 1px solid #FBB007;
    border-bottom: 1px solid #FBB007;
    color: black;
    padding: 5px 12px;
    text-decoration: none;
}
ul.nav li a:hover
{
background-color: #ffffff;
} 

ul.nav ul.navnav
{
    color: black;
    background-color: #FEF1D2;
    width: 100%;
    list-style-type:none;
    /*border-top: 1px solid #FBB007;
}
ul.nav ul.navnav li a 
{
    line-height: 9px;
}
ul.nav ul.navnav li a 
{
    border: none;
    color: black;
    padding: 3px 0;
    text-decoration: none;
}
ul.nav ul.navnav li a:hover
{
    color: #FF0000;
    background-color: #FEF1D2;
} 
    */
.profilepic img
{
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
}

.group
{
    font-weight: bold;
    margin-bottom: 5px;
}