body{
    font: "Trebuchet MS", Verdana, sans-serif;
    background-color: #5c87b2;
    color: #696969;
    margin: 0 auto;
}

h1{
    border-bottom: 3px solid #cc9900;
    font: Georgia, serif;
    color: #996600;
}

#main{
    padding-top: 40px;
    background-color: #ffffff;
    width: 75%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    min-height: 300px;
}

a{
    color: #034af3; 
}

#header{
background-color: #ff6600;
    height: 80px;
    margin-top: 0;
    width: 100%;
}

#footer{
    border-top: 2px solid #FF6600;
    bottom:0;
    padding-top: 10px;
    padding-left: 40px;
    overflow:hidden;
    width: 100%;
}
.wrapper{
    min-height:100%;
    margin-bottom:500px;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    padding-left:20px
}

.logo{
    height: 30px;
    width: 100px;
    float: left;
}

/*Sidebar.........*/
#sidebar{
    width: 27%;
    float: left;
    margin-top: 40px;
    padding-left: 30px;
}


/* Menu Styles ------------------------------*/ 
ul#menu{
    float: right;
    font-size: 18px;
    color: black;
    padding-top: 25px;
    position: relative;
}

ul#menu li{
    display: inline;
}

ul#menu li a {
    padding: 1px 12px;
    text-decoration: none;
    color: black;
}
ul#menu li a:hover{
    background-color: #ffffff;
    border-radius: 4px;
} 
/* Forms Styles ------------------------------*/ 
fieldset{
    padding-left: 12px;
} 
fieldset label{
    display: block;
    padding: 4px;
}
input[type="text"], input[type="password"]{
    width: 300px;
}
input[type="submit"]{
    padding: 4px;
}
/* Data Styles ------------------------------*/ 
table.data{
    background-color:#ffffff;
    border:1px solid #c3c3c3;
    border-collapse:collapse;
    width:100%;
}
table.data th{
    background-color:#e8eef4;
    border:1px solid #c3c3c3;
    padding:3px;
}
table.data td {
    border:1px solid #c3c3c3;
    padding:3px;
}

/* Navigation in sidebar */

.sidebar{
    background-color:#4AA0CF; 
    border-radius: 25px 25px 25px 25px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    list-style-type:none;
}

ul.navnav{
    list-style-type:none;
}

.sidebar-texti ul a {
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: black;
    padding: 3px 0;
    list-style-type: none;
    text-decoration: none;
}

.sidebar-texti ul.navnav li a{
    padding-left: 30px;
    border:none;
    font-weight:normal;
    list-style-type: none;
    text-decoration: none;
}


/*
        
ul.nav ul.navnav li a 
{
    border: none;
    color: black;
    padding: 3px 0;
    list-style-type:none;
    text-decoration: none;
}

/*
ul.nav li a 
{
    color: black;
    padding: 5px 12px;
    text-decoration: none;
}
ul.nav li a:hover
{
background-color: #ffffff;
} 

ul.nav ul.navnav
{
    color: black;
    //background-color: #FEF1D2;
    width: 100%;
    list-style-type:none;
    /*border-top: 1px solid #FBB007;
}

ul.nav ul.navnav li a 
{
    line-height: 9px;
}
ul.nav ul.navnav li a 
{
    border: none;
    color: black;
    padding: 3px 0;
    text-decoration: none;
}
ul.nav ul.navnav li a:hover
{
    color: #FF0000;
    background-color: #FEF1D2;
} 
*/
 /*
nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: black;
}
 */

.profilepic img{
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
}

.group
{
    font-weight: bold;
    margin-bottom: 5px;
}