@using Microsoft.AspNet.Identity;
@model UNIverse.Models.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Profile.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="Name"></div>
    @User.Identity.Name
</body>




