@model UNIverse.Models.ViewModels.PostViewModel
<link href="@Url.Content("~/Content/Newsfeed.css")" rel="stylesheet" type="text/css" />

<div id="wallPosts">
    @foreach (var item in Model.Posts)
    {
        Html.RenderPartial("PostDisplay", item);
    }
</div>


@if (ViewData["moreUrl"] != null)
{    
    <a href='@ViewData["moreUrl"]' id="moreLink">More</a>
}
