@model UNIverse.Models.ViewModels.PostViewModel

<div id="wallPosts">
    @foreach (var item in Model.Posts)
    {
        Html.RenderPartial("_PostDisplay", item);
    }
</div>


@if (ViewData["moreUrl"] != null)
{    
    <a href='@ViewData["moreUrl"]' id="moreLink">More</a>
}
