@model UNIverse.Models.ViewModels.GroupViewModel

@{ViewBag.Title = "Groups";}

@using (Html.BeginForm())
{
    <div> 
        @Html.ActionLink("Create New", "Create", "Group", null, new { @class = "btn btn-success btn-large" }) 
        @Html.ActionLink("See All Groups", "SeeAllGroups","Group", new { @class = "btn btn-primary btn-large" })
    </div>
}

<h4>Groups you are managing</h4>
    @if (Model.UserIsAdmin != null)
    {
        Html.RenderPartial("_GroupsList", Model.UserIsAdmin);
    }

<h4>Groups you are a member of</h4>
    @{Html.RenderPartial("_GroupsList", Model.GroupsUserIsIn);}
   
